.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* .row:before,
.row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
} */

.col {
  display: block;
  float: left;
  /* margin: 1% 0 1% 1.6%; */
}

.col-2-of-2 {
  width: 100%;
}

.col-1-of-2 {
  width: 45.2%;
}

.col-3-of-3 {
  width: 100%;
}

.col-2-of-3 {
  width: 66.13%;
}

.col-1-of-3 {
  width: 32.26%;
}
.col-4-of-4 {
  width: 100%;
}
.col-3-of-4 {
  width: 74.6%;
}
.col-2-of-4 {
  width: 49.2%;
}
.col-1-of-4 {
  width: 23.8%;
}
